
<div class="absolute py-4 my-5" >
<footer class="d-flex flex-wrap justify-content-between align-items-center border-top" style="color:grey">
    <div class="social-media" style="padding: 2px">
        <ul>
            <a class="social-media" href=""><i class="bi bi-facebook"></i></a>
        </ul>
        <ul>
            <a class="social-media" href=""><i class="bi bi-instagram"></i></a>
        </ul>
        <ul>
            <a class="social-media" href=""><i class="bi bi-twitter"></i></a>
        </ul>
        <ul>
            <a class="social-media" href=""><i class="bi bi-youtube"></i></a>
        </ul>
    </div>
</footer>    
    <br>
    <div class="footer-links row-md-4">
        <a class="footer-links mb-3 me-2" href="">Audito and Subtitles</a>
        <a class="footer-links mb-3 me-2" href="">Audio Description</a>
        <a class="footer-links mb-3 me-2" href="">Help</a>
        <a class="footer-links mb-3 me-2" href="">Gift Cards</a>
        <a class="footer-links mb-3 me-2" href="">Terms of Use</a>
    </div>


    <p class="container">&copy; {{currentYear}} Jeric Limjoco</p>

</div>